version: '2.4'

services:
 
  web:
    build: . 
    ports:
      - "1234:1234" 
    environment:
     
      - POSTGRES_HOST=db      
      - POSTGRES_DB=testdb   
      - POSTGRES_USER=testuser
      - POSTGRES_PASSWORD=testpass
      - APP_PORT=1234
    depends_on:
      - db 
  

  db:
    image: postgres:13-alpine 
    environment:
     
      - POSTGRES_DB=testdb
      - POSTGRES_USER=testuser
      - POSTGRES_PASSWORD=testpass
    volumes:
     
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
